In [3]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
plt.style.use('seaborn-whitegrid')

import seaborn as sns
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import accuracy_score, f1_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.linear_model import LogisticRegression
import joblib

# from lightgbm import LGBMClassifier
# # from catboost import CatBoostClassifier
# from xgboost import XGBClassifier

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_colwidth', -1)

import warnings
warnings.simplefilter('ignore')

from sklearn.model_selection import RandomizedSearchCV

# from catboost import Pool, cv, CatBoostClassifier, CatBoostRegressor

In [4]:
av = pd.read_csv('data/av_train.csv')
iris = pd.read_csv('data/Iris.csv')
titanic = pd.read_csv('data/titanic_train.csv')
print('av\n')
av.head()
print('iris \n')
iris.head()
print('titanic \n')
titanic.head()

av

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

iris

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1   5.1            3.5           1.4            0.2           Iris-setosa
1  2   4.9            3.0           1.4            0.2           Iris-setosa
2  3   4.7            3.2           1.3            0.2           Iris-setosa
3  4   4.6            3.1           1.5            0.2           Iris-setosa
4  5   5.0            3.6           1.4            0.2           Iris-setosa

titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
print(av.columns)
print(iris.columns)
print(titanic.columns)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')
Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
av.info()
print('av\n')
av.info()
print('iris \n')
iris.info()
print('titanic \n')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB
av

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB
iris

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
titanic

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
def features_out(df):
    columns = df.columns
    return columns

In [8]:
features_out(av)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

# First find the categorical/numerical and id, target columns
* Remove the id columns or check on them and find wheather they can be changed 
*

In [10]:
info = av.info()
# print(info)
# info.head()
# info_df = pd.DataFrame(data=info, index=None, columns=['features', 'null_count', 'dtype'])
# info_df = pd.DataFrame(data=info)

# print(info_df)
# info_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [11]:
cat_cols = av.select_dtypes(include='object').columns.tolist()
print(cat_cols)

['Product_ID', 'Gender', 'Age', 'City_Category', 'Stay_In_Current_City_Years']

In [13]:
target = 'Purchase'
df = av.copy()
df_copy = df.copy()
df_copy.drop([target], axis=1, inplace=True)
df_copy.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN

In [15]:
av.nunique()

User_ID                       5891
Product_ID                    3631
Gender                        2
Age                           7
Occupation                    21
City_Category                 3
Stay_In_Current_City_Years    5
Marital_Status                2
Product_Category_1            20
Product_Category_2            17
Product_Category_3            15
Purchase                      18105
dtype: int64

In [22]:
iris.nunique()

Id               150
SepalLengthCm    35
SepalWidthCm     23
PetalLengthCm    43
PetalWidthCm     22
Species          3
dtype: int64

In [23]:
titanic.nunique()

PassengerId    891
Survived       2
Pclass         3
Name           891
Sex            2
Age            88
SibSp          7
Parch          7
Ticket         681
Fare           248
Cabin          147
Embarked       3
dtype: int64

In [16]:
print(len(av.Purchase))
print(av.Purchase.nunique())

550068
18105

In [21]:
perc_unique1 = av.Occupation.nunique()/len(av.Occupation)*100
print(perc_unique1)

0.0038177098104234383

In [26]:
perc_unique1 = iris.PetalWidthCm.nunique()/len(iris.PetalWidthCm)*100
print(perc_unique1)

14.666666666666666

In [27]:
perc_unique1 = iris.Species.nunique()/len(iris.Species)*100
print(perc_unique1)

2.0

In [28]:

perc_unique1 = av.Product_Category_1.nunique()/len(av.Product_Category_1)*100
print(perc_unique1)

0.00363591410516518

In [24]:
perc_unique1 = titanic.Ticket.nunique()/len(titanic.Ticket)*100
print(perc_unique1)

76.43097643097643

In [17]:
perc_unique1 = av.Occupation.nunique()/len(av.Purchase)*100
print(perc_unique1)
perc_unique2 = av.Product_ID.nunique()/len(av.Product_ID)*100
print(perc_unique2)
perc_unique3 = titanic.PassengerId.nunique()/len(titanic.PassengerId)*100
print(perc_unique3)

3.2914112437007788
0.6601002057927383
100.0

In [20]:
if av.dtypes['Purchase'] =='int64':
    print('hi')

hi

In [ ]:
def feat_types(df, target, ids):
#     identify the target column and remove in this function
    df_copy = df.copy()
    id_cols = []
    target_col = [target]
    cat_obj_cols = []
    num_cols_all = []
    num_cols_cont = []
    num_cols_cat = []
    
    df_copy.drop([target], axis=1, inplace=True) # remove the target column from the dataset
    
#     do identify the target column and convert to num if categorical
    

#     identify the ids and remove the ids
    for col in df_copy.columns():
        
        perc_unique = df_copy.col.nunique()/len(av.col)*100
        if perc_unique > 95.0:
            id_cols.append(col)
        elif df_copy.col.select_dtypes(include='object'):
            cat_obj_cols.append(col)
        elif df_copy.col.select_dtype
        
#     find the string cat features
    cat_obj_cols = df.select_dtypes(include='object').columns.tolist()        
        
    
#     find id cols in the cat obj and num_cols
    
    
    
    num_cols_all = [i for i in df_copy.columns if i not in [target_col] and i not in id_cols and i not in cat_obj_cols]