In [2]:
import warnings
warnings.filterwarnings('always')
warnings.filterwarnings('ignore')

import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline
plt.style.use('seaborn-whitegrid')

import seaborn as sns
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import accuracy_score, f1_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.linear_model import LogisticRegression
import joblib

# from lightgbm import LGBMClassifier
# # from catboost import CatBoostClassifier
# from xgboost import XGBClassifier

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_colwidth', -1)

import warnings
warnings.simplefilter('ignore')

from sklearn.model_selection import RandomizedSearchCV

# from catboost import Pool, cv, CatBoostClassifier, CatBoostRegressor

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
av = pd.read_csv('/content/drive/MyDrive/final_project_msc/data/av_blackfriday/data_set_blackfriday_pred/train.csv')
iris = pd.read_csv('/content/drive/MyDrive/final_project_msc/data/iris/IRIS.csv')
titanic = pd.read_csv('/content/drive/MyDrive/final_project_msc/data/titanic/train.csv')
print('train_set\n')
av.head()
print('test_set \n')
iris.head()
print('submission \n')
titanic.head()

train_set

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042  F      ... NaN                NaN                  8370
1  1000001  P00248942  F      ...  6.0                14.0                15200
2  1000001  P00087842  F      ... NaN                NaN                  1422
3  1000001  P00085442  F      ...  14.0              NaN                  1057
4  1000002  P00285442  M      ... NaN                NaN                  7969

[5 rows x 12 columns]

test_set

   sepal_length  sepal_width  petal_length  petal_width      species
0  5.1           3.5          1.4           0.2          Iris-setosa
1  4.9           3.0          1.4           0.2          Iris-setosa
2  4.7           3.2          1.3           0.2          Iris-setosa
3  4.6           3.1          1.5           0.2          Iris-setosa
4  5.0           3.6          1.4           0.2          Iris-setosa

submission

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0  1            0         3       ...  7.2500   NaN   S
1  2            1         1       ...  71.2833  C85   C
2  3            1         3       ...  7.9250   NaN   S
3  4            1         1       ...  53.1000  C123  S
4  5            0         3       ...  8.0500   NaN   S

[5 rows x 12 columns]

In [8]:
print(av.columns)
print(iris.columns)
print(titanic.columns)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')
Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
av.info()
print('av\n')
av.info()
print('iris \n')
iris.info()
print('titanic \n')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB
av

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB
iris

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
titanic

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [10]:
def features_out(df):
    columns = df.columns
    return columns

In [12]:
features_out(av)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')

# First find the categorical/numerical and id, target columns
* Remove the id columns or check on them and find wheather they can be changed 
*

In [ ]:
info = train.info()
# print(info)
# info.head()
# info_df = pd.DataFrame(data=info, index=None, columns=['features', 'null_count', 'dtype'])
# info_df = pd.DataFrame(data=info)

# print(info_df)
# info_df.head()

In [ ]:
cat_cols = train.select_dtypes(include='object').columns.tolist()
print(cat_cols)

In [ ]:
target = 'Purchase'
df = train.copy()
df_copy = df.copy()
df_copy.drop([target], axis=1, inplace=True)
df_copy.head()

In [ ]:
train.nunique()

In [ ]:
print(len(train.Purchase))
print(train.Purchase.nunique())

In [13]:
perc_unique1 = av.Purchase.nunique()/len(av.Purchase)*100
print(perc_unique1)
perc_unique2 = av.Product_ID.nunique()/len(av.Product_ID)*100
print(perc_unique2)
perc_unique3 = titanic.PassengerId.nunique()/len(titanic.PassengerId)*100
print(perc_unique3)

3.2914112437007788
0.6601002057927383
100.0

In [15]:
av.Purchase.select_dtypes(include='object')

AttributeError: ignored

In [ ]:
def feat_types(df, target, ids):
#     identify the target column and remove in this function
    df_copy = df.copy()
    id_cols = []
    target_col = [target]
    cat_obj_cols = []
    num_cols_all = []
    num_cols_cont = []
    num_cols_cat = []
    
    df_copy.drop([target], axis=1, inplace=True) # remove the target column from the dataset
    
#     do identify the target column and convert to num if categorical
    

#     identify the ids and remove the ids
    for col in df_copy.columns():
        
        perc_unique = df_copy.col.nunique()/len(av.col)*100
        if perc_unique > 95.0:
          id_cols.append(col)
        elif df_copy.col.select_dtypes(include='object'):
          cat_obj_cols.append(col)
        elif df_copy.col.select_dtype
        
#     find the string cat features
    cat_obj_cols = df.select_dtypes(include='object').columns.tolist()        
        
    
#     find id cols in the cat obj and num_cols
    
    
    
    num_cols_all = [i for i in df_copy.columns if i not in [target_col] and i not in id_cols and i not in cat_obj_cols]